<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">System Task</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
    (click)="isShown = !isShown">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [ngClass]="{ 'show': isShown }" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-light my-2 my-sm-0" type="button" (click)="open(content)"><i class="fa fa-plus"></i>
        Add</button>
      &nbsp;

      <div *ngIf="userList.length !== 0" ngbDropdown display="dynamic" class="d-inline-block">
        <a class="nav-link" style="cursor: pointer" ngbDropdownToggle id="dropdownBasic1" role="button">
          {{mainUser.name}}
        </a>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu">
          <button ngbDropdownItem *ngFor="let user of userList; let i = index" href="#"
            (click)="$event.preventDefault(); onSwitchUser(i) ">{{user.name}}</button>
        </div>
      </div>
    </form>
  </div>
</nav>
<section class="container">
  <h4 class="mb-5">
    <i class="fa fa-book fonts-20p"></i>
    Contacts
    <br>
    <small class="text-muted"> &nbsp; Welcome to Contact page</small>
  </h4>
  <div class="row">
    <div class="col-md-7">
      <div class="input-group mb-4">

        <input class="form-control py-2 border-right-0 border inputRoundBorder" type="search"
          placeholder="Search Contants ">
        <span class="input-group-append">
          <div class="input-group-text bg-transparent inputSearchBoxRoundBorder"><i class="fa fa-search"></i></div>
        </span>

        &nbsp; &nbsp;
        <button type="button" class="btn btn-gradient btn-outline-light btn-sm" (click)="open(content)"><i
            class="fa fa-plus"></i> Add
          Contact</button>
        &nbsp; &nbsp;
        <button type="button" *ngIf="userList.length !== 0" class="btn btn-gradient btn-outline-light btn-sm"
          (click)="edit(content)"><i class="fa fa-edit (alias)"></i>
          Edit Contact</button>
      </div>
    </div>
  </div>
  <div class="row ">
    <div class="col-md-7">
      <div class="accordion">
        <div class="card">
          <div class="card-header pointingHand" (click)="onList()">
            <div class="row mb-0">
              <div class="col-1"><i [ngClass]="accordionList ? 'fa fa-plus' : 'fa fa-minus'" class="fa fa-plus"></i>
              </div>
              <div class="col-5">Name</div>
              <div class="col-4">Company Name</div>
              <div class="col-2">Chat</div>
            </div>
          </div>
          <div *ngIf="accordionList && userList.length !== 0" class="collapse show">
            <div class="card-body">
              <div class="row mb-2 userRowStyle" [ngClass]="{listActive: user.id === infoBox.id }"
                *ngFor="let user of userList; let i = index" (click)="onUserListRow(user)">
                <div class="col-1">
                  <div class="pt-8p">
                    <input type="checkbox">
                  </div>
                </div>
                <div class="col-5">
                  <div>
                    <div [ngClass]=" (i+1) % 2 === 0 ? 'listLetterCircleGreen': 'listLetterCircle'"
                      class="listLetterCircle">
                      <strong>{{user.firstLetter | uppercase }}</strong>
                    </div>
                    {{user.name}}
                  </div>
                </div>
                <div class="col-4">
                  <div class="pt-8p">
                    <div>{{user.company}}</div>
                  </div>
                </div>
                <div class="col-2 text-center">
                  <div class="pt-8p">
                    <i (click)="chat(message, user)" class="fa fa-send (alias) fonts-20p"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5 mrg-top" *ngIf="userList.length !== 0">
      <div class="card bg-light">
        <div class="card-body">
          <div class="letterCircle mb-3"><strong>{{infoBox.firstLetter| uppercase }}</strong>
          </div>
          <h5 class="card-title text-center">{{infoBox.name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted text-center">Software Developer</h6>
          <br>

          <dl class="row">
            <dt class="col-sm-4">Name</dt>
            <dd class="col-sm-8">{{infoBox.name}}</dd>
            <dt class="col-sm-4">Email</dt>
            <dd class="col-sm-8">{{infoBox.email}}</dd>
            <dt class="col-sm-4">Phone</dt>
            <dd class="col-sm-8">{{infoBox.phone}}</dd>
            <dt class="col-sm-4">Company</dt>
            <dd class="col-sm-8">{{infoBox.company}}</dd>
            <dt class="col-sm-4">Address</dt>
            <dd class="col-sm-8">{{infoBox.address}}</dd>
          </dl>
        </div>
      </div>
    </div>
  </div>

  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title" *ngIf="contactStatus === 'update'; else add">Update Contact
        Here!</h4>
      <ng-template #add>
        <h4 class="modal-title" id="modal-basic-title">Add Contact
          Here!</h4>
      </ng-template>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="addContactForm" (ngSubmit)="onAddContactSubmit()">
        <div class="form-group">
          <label for="exampleInputName">Name</label>
          <input type="text" formControlName="name" maxlength="30" minlength="2" class="form-control"
            id="exampleInputName"
            [ngClass]="{ 'has-error': isSubmitted && addContactForm.get('name').hasError('required') }">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="text" formControlName="email" class="form-control" id="exampleInputEmail1"
            [ngClass]="{ 'has-error': isSubmitted && !addContactForm.controls.email.valid  }">
        </div>
        <div class="form-group">
          <label for="exampleInputPhone">Phone</label>
          <input type="text" formControlName="phone" maxlength="10" minlength="10" class="form-control"
            id="exampleInputPhone" [ngClass]="{ 'has-error': isSubmitted && !addContactForm.controls.phone.valid }">
        </div>
        <div class="form-group">
          <label for="exampleInputCompany">Company</label>
          <input type="text" formControlName="company" maxlength="30" minlength="2" class="form-control"
            id="exampleInputCompany"
            [ngClass]="{ 'has-error': isSubmitted && addContactForm.get('company').hasError('required') }">
        </div>
        <div class="form-group">
          <label for="exampleInputAddress">Address</label>
          <input type="text" formControlName="address" maxlength="40" minlength="2" class="form-control"
            id="exampleInputAddress"
            [ngClass]="{ 'has-error': isSubmitted && addContactForm.get('address').hasError('required') }">
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-gradient btn-outline-light">Submit</button>
        </div>
      </form>
    </div>
  </ng-template>

  <ng-template #message let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Hi {{mainUser.name}}!</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="exampleFormControlSelect1">To</label>
          <input type="text" disabled value="{{toUser}}" class="form-control" id="exampleFormControlSelect1">
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Message</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-gradient btn-outline-light" (click)="sent()"><i
            class="fa fa-send (alias)"></i>
          Send</button>
      </div>
    </div>
  </ng-template>
</section>